target/my-app-1.0-SNAPSHOT.jar
target/classes/com/acme/app/App.class
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/surefire-reports/com.acme.app.AppTest.txt
target/surefire-reports/TEST-com.acme.app.AppTest.xml
target/test-classes/com/acme/app/AppTest.class
